#opc {
	position: absolute;
}
#opc .fa.fa-pencil-alt, #opc .fa.fa-pencil {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/%3E%3C/svg%3E");
}
#opc .fa.fa-clone {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-files' viewBox='0 0 16 16'%3E%3Cpath d='M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z'/%3E%3C/svg%3E");
}
#opc .fa.fa-trash {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/%3E%3C/svg%3E");
}
.consent-hidden {
  display: none !important;
}
.consent-no-space {
  margin: 0 !important;
}
.consent-btn {
  display: inline-block;
  border-radius: 0.125rem;
  border: 0;
  padding: 0.45rem 0.85rem;
  font-size: 0.75rem;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  border: 0.0625rem solid transparent;
}
@media (min-width: 768px) {
  .consent-btn {
    padding: 0.85rem 1.5rem;
    font-size: 0.875rem;
  }
}
.consent-btn-primary {
  background-color: #435a6b;
  border-color: #435a6b;
  color: #f5f7fa;
}
.consent-btn-primary:hover {
  background-color: #344653;
  border-color: #344653;
  color: #f5f7fa;
}
.consent-btn-primary:focus {
  background-color: #2f404c;
  border-color: #2f404c;
  color: #f5f7fa;
  box-shadow: 0 0 0 0.1875rem rgba(47, 64, 76, 0.5);
}
.consent-btn-outline-primary {
  background-color: transparent;
  border-color: #435a6b;
  color: #435a6b;
}
.consent-btn-outline-primary:hover {
  background-color: #344653;
  border-color: #344653;
  color: #f5f7fa;
}
.consent-btn-outline-primary:focus {
  background-color: #2f404c;
  border-color: #2f404c;
  color: #f5f7fa;
  box-shadow: 0 0 0 0.1875rem rgba(47, 64, 76, 0.5);
}
.consent-btn-secondary {
  background-color: #fff;
  border-color: #fff;
  color: #525252;
}
.consent-btn-secondary:hover {
  background-color: #ececec;
  border-color: #ececec;
  color: #525252;
}
.consent-btn-secondary:focus {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #525252;
  box-shadow: 0 0 0 0.1875rem rgba(230, 230, 230, 0.5);
}
.consent-btn-outline-secondary {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.consent-btn-outline-secondary:hover {
  background-color: #ececec;
  border-color: #ececec;
  color: #525252;
}
.consent-btn-outline-secondary:focus {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #525252;
  box-shadow: 0 0 0 0.1875rem rgba(230, 230, 230, 0.5);
}
.consent-btn-tertiary {
  background-color: #397c26;
  border-color: #397c26;
  color: #f5f7fa;
}
.consent-btn-tertiary:hover {
  background-color: #2c5f1d;
  border-color: #2c5f1d;
  color: #f5f7fa;
}
.consent-btn-tertiary:focus {
  background-color: #27551a;
  border-color: #27551a;
  color: #f5f7fa;
  box-shadow: 0 0 0 0.1875rem rgba(39, 85, 26, 0.5);
}
.consent-btn-outline-tertiary {
  background-color: transparent;
  border-color: #397c26;
  color: #397c26;
}
.consent-btn-outline-tertiary:hover {
  background-color: #2c5f1d;
  border-color: #2c5f1d;
  color: #f5f7fa;
}
.consent-btn-outline-tertiary:focus {
  background-color: #27551a;
  border-color: #27551a;
  color: #f5f7fa;
  box-shadow: 0 0 0 0.1875rem rgba(39, 85, 26, 0.5);
}
.consent-btn-helper {
  margin: -0.25rem;
  display: flex;
  flex-wrap: wrap;
}
.consent-btn-helper > div {
  padding: 0 0.25rem;
  width: 50%;
}
.consent-btn-helper > div > .consent-btn {
  margin: 0.25rem;
  flex-grow: 1;
  font-weight: 600;
}
.consent-btn-helper .consent-accept {
  width: 100%;
  margin-bottom: 0.5rem;
}
@media (max-width: 991.98px) {
  .consent-btn-helper > div {
    width: 100%;
  }
  .consent-btn-helper > div > .consent-btn {
    width: 100%;
    font-size: 0.875rem;
    display: block;
    padding: 0.85rem;
  }
}
.consent-btn-block {
  width: 100%;
}
.consent-btn-sm {
  padding: 0.45rem 0.85rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.consent-btn-holder {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: left;
}
.consent-btn-holder > div:last-child {
  margin: 0 0 0 auto;
}
.consent-btn-holder > div:first-child {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .consent-btn-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
}
@media (max-width: 991.98px) {
  .consent-btn-holder > div:last-child {
    margin: 1rem 0 0;
  }
}
@media (min-width: 768px) {
  .consent-switch {
    padding-left: 3.5rem;
  }
}
.consent-switch .consent-input {
  display: none;
}
.consent-switch .consent-input:checked ~ .consent-label::before {
  background-color: #324350;
}
.consent-switch .consent-input:checked ~ .consent-label::after {
  left: 1.375rem;
}
.consent-switch .consent-label {
  padding-left: 3.5rem;
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: #435a6b;
  margin-bottom: 0.25rem;
}
.consent-switch .consent-label::before, .consent-switch .consent-label::after {
  content: "";
  float: left;
  margin-top: 0.125rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
  cursor: pointer;
}
.consent-switch .consent-label::before {
  background-color: #dddddd;
  border-radius: 10rem;
  width: 2.5rem;
  height: 1.25rem;
}
.consent-switch .consent-label::after {
  border-radius: 50%;
  background-color: #ffffff;
  height: calc(1.25rem - .25rem);
  width: calc(1.25rem - .25rem);
  top: 0.125rem;
  left: 0.125rem;
}
@media (min-width: 768px) {
  .consent-switch .consent-label {
    margin-left: -3.5rem;
    margin-bottom: 0;
  }
}
.consent-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background-color: rgba(21, 28, 33, 0.9);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.2s;
  padding: 1rem;
}
.consent-modal:not(.show) {
  opacity: 0;
  visibility: hidden;
}
.consent-modal:not(.active) {
  display: none;
}
.consent-modal-content {
  margin: 2rem auto 0;
  max-width: 40rem;
  padding: 1rem;
  background: #ffffff;
  border-radius: 0.125rem;
  position: relative;
}
.consent-modal-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 2rem;
  margin: auto;
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .consent-modal-content {
    padding: 2rem;
  }
}
.consent-modal-close {
  border: 0;
  background: transparent;
  color: #525252;
  position: absolute;
  right: 0;
  top: 0;
  outline: 0;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.2s;
}
.consent-modal-close svg {
  width: 1.5rem;
  height: 1.5rem;
}
.consent-modal-close:hover {
  color: #324350;
}
.consent-modal-icon {
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  background-color: inherit;
  color: #435a6b;
  padding: 1rem;
  margin: -1rem auto -2rem;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .consent-modal-icon {
    margin-top: -2rem;
  }
}
#consent-manager {
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: #525252;
  font-size: 0.875rem;
  line-height: 1.5;
}
#consent-manager, #consent-manager *, #consent-manager *::before, #consent-manager *::after {
  box-sizing: border-box;
}
#consent-manager a {
  color: inherit;
  color: #435a6b;
}
#consent-manager a:hover {
  text-decoration: none;
}
#consent-manager p {
  margin: 0 0 1rem;
}
#consent-manager p:last-child {
  margin-bottom: 0;
}
#consent-manager img, #consent-manager svg {
  vertical-align: baseline;
}
#consent-manager strong {
  font-weight: 600;
  color: #435a6b;
}
#consent-manager hr {
  height: 0;
  border: 0;
  border-bottom: 0.0625rem solid #dddddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#consent-manager ul {
  margin: 1rem 0;
  padding-left: 2em;
}
#consent-manager ul li {
  margin: 0;
}
#consent-manager:not(.active) {
  display: none;
}
.consent-icon {
  display: inline-block;
  vertical-align: -0.2em;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
}
.consent-help {
  color: #525252;
  font-size: 0.9em;
  margin-top: 0.5rem;
  display: block;
}
.consent-display-1, .consent-display-2, .consent-display-3 {
  font-weight: 600;
  color: #435a6b;
  margin-bottom: 1rem;
  display: block;
}
.consent-display-1 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .consent-display-1 {
    font-size: 1.5rem;
  }
}
.consent-display-2 {
  font-size: 1.1rem;
}
.consent-display-3 {
  font-size: 0.85rem;
}
#consent-banner {
  border: 0.0625rem solid #dddddd;
  border-radius: 0.125rem;
  padding: 2rem 1rem 1rem;
  color: #525252;
  background-color: #ffffff;
  width: 100%;
  max-width: 75rem;
  margin: auto;
  transition: all 0.2s;
}
:not(.fading) > #consent-banner {
  position: relative;
}
:not(.fading) > #consent-banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 2rem;
  margin: auto;
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  z-index: -1;
}
.mini > #consent-banner {
  display: none;
}
.fading > #consent-banner {
  transform: translateY(50%);
  opacity: 0;
}
@media (min-width: 768px) {
  #consent-banner {
    padding: 1rem 2rem;
  }
}
.consent-banner-icon {
  border-radius: 10rem;
  padding: 0.75rem;
  width: 3.4375rem;
  height: 3.4375rem;
  background-color: inherit;
  border: 0.0625rem solid #dddddd;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  color: #435a6b;
}
.consent-banner-icon::before {
  content: "";
  background-color: inherit;
  width: calc(100% + 0.125rem);
  height: calc(50% + 0.125rem);
  position: absolute;
  left: -0.0625rem;
  top: 50%;
}
.consent-banner-icon svg {
  z-index: 1;
  position: relative;
}
@media (min-width: 992px) {
  .consent-banner-icon {
    left: 0;
    top: 50%;
  }
  .consent-banner-icon::before {
    width: calc(50% + 0.125rem);
    height: calc(100% + 0.125rem);
    left: 50%;
    top: -0.0625rem;
  }
}
.consent-banner-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .consent-banner-body {
    flex-direction: row;
  }
}
.consent-banner-description {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.consent-banner-actions {
  margin-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .consent-banner-actions {
    margin-top: 0;
    margin-left: 2rem;
    width: 16.875rem;
  }
}
.consent-show-more {
  text-align: right;
  display: block;
  margin: 0;
}
@media (min-width: 768px) {
  .consent-show-more {
    float: right;
  }
}
@media (max-width: 991.98px) {
  .consent-show-more {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 1rem 0;
  }
}
.consent-more-description {
  background: #fff;
  padding: 1rem;
  border-radius: 0.125rem;
  margin-top: 1rem;
}
.consent-info {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0.0625rem solid #dddddd;
  border-radius: 0.125rem;
  padding: 0.5rem 1rem;
}
#consent-settings-btn {
  z-index: 1050;
  border: 0 none;
  padding: 0;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.2s;
}
#consent-settings-btn .consent-icon {
  margin: 0;
  width: 100%;
  height: 100%;
}
.twitter-typeahead {
	display: block !important;
}
.search-wrapper-dropdown .img-thumbnail {
	max-width: 100px;
	border: 0 none;
}
.dropdown-menu.scrollable {
	max-height: calc(100vh - 180px);
	overflow-y: auto;
}
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
.navbar-light .navbar-tool-text>small.decimals, .navbar-light .navbar-tool-text>.small.decimals {
	color: #4b566b;
}
#sidepanel_left .form-check-input.filter, #sidepanel_left .form-check-input.manu_filter {
	cursor: pointer;
}
.form-check-input:checked~.form-option-label {
	border-width: 2px;
}
.product-gallery-thumblist-item picture{
	position: absolute;
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.min50px {
	min-height: 50px;
}
.radioLabel-size-lg {
	min-width: 2.5rem;
	height: 2.5rem;
}
.radio-size-lg {
	width: 2rem;
	height: 2rem;
	background-size: 2rem 2rem;
	margin-top: -1rem;
	margin-left: -1rem;
}
.dropdown.bootstrap-select.form-control.form-select button.btn {
	border: 1px solid #dae1e7;
	border-radius: .3125rem;
	box-shadow: inset 0 1px 2px transparent;
}
.dropdown.bootstrap-select.form-control.form-select button.btn:hover,
.dropdown.bootstrap-select.form-control.form-select button.btn:active,
.dropdown.bootstrap-select.form-control.form-select button.btn:focus,
.dropdown.bootstrap-select.form-control.form-select button.btn.active,
.dropdown.bootstrap-select.form-control.form-select button.btn.show {
	border-color: #dae1e7;
	background-color: #ffffff;
}
.choose_quantity .quantity {
	min-width: 60px;
	max-width: 5rem;
}

.blr {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
#search .dropdown-menu, #_mainNavigation .tt-menu .dropdown-menu {
	position: relative !important;
}
#search .tt-menu {
	width: 100%;
}
.product-card .product-actions {
	z-index: 1;
}
.cz_gift_label {
	cursor: pointer;
}
.cz_gift_label .act_badge {
	opacity: 0;
	visibility: hidden;
  transition: opacity .2s linear;
}
.cz_gift_label.active .act_badge {
	opacity: 1;
	visibility: visible;
}
.cz_gift_label:hover .act_badge {
	opacity: 1;
	visibility: visible;
}
.cz_avatar {
	border-radius: 50%;
	object-fit: cover;
	min-width: 2rem;
	min-height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
}
.cz_avatar.m50 {
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
}
.cz_avatar.m90 {
	min-width: 90px;
	min-height: 90px;
	max-width: 90px;
	max-height: 90px;
}
.sitemap-group a.nice-deco {
	color: #4b566b;
	transition: color .25s ease-in-out,background-color .25s ease-in-out,box-shadow .25s ease-in-out,border-color .25s ease-in-out;
}
.sitemap-group a.nice-deco:hover, .sitemap-group a.nice-deco:focus {
	color: #fe696a;
}
.btn-wishlist.on-list.btn-outline-primary {
	color: #fff !important;
	background-color: #fe696a;
	border-color: #fe696a;
}
.btn-wishlist.on-list.btn-outline-info {
	color: #fff !important;
	background-color: #69b3fe;
	border-color: #69b3fe;
}
.btn-share.btn-pinterest {
	background-color: rgba(189, 8, 28, .08);
	color: #bd081c;
}
.btn-share.btn-pinterest:hover {
	background-color: #bd081c;
}
.btn-share:hover {
	color: #fff;
	box-shadow: none;
}
.was-validated .quantity.form-control:valid, .quantity.form-control.is-valid {
	padding-right: 0 !important;
}
.form-option .form-check-input.invisRadio {
	border: 0 !important;
	background: none !important;
}
.spinner-border-sm {
	width: 1.25rem;
	height: 1.25rem;
}
strong.tt-highlight {
	background-color: #fcf8e3;
	color: marktext;
}
#whatsApp_chat {
	
}
#whatsApp_chat .whatsapp_btn {
	
}
.product-details .product-badge {
	position: relative;
	float: right;
	transform: translateY(-20%);
}